# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Algorithms/v15/ipch/AutoPCH/3d84ece0bffb76a3/PROJECT_1.ipch
/.vs/Algorithms/v15/ipch/AutoPCH/393e5cd9e8243bdb/MAIN.ipch
/.vs/Algorithms/v15/Browse.VC.opendb
/.vs/Algorithms/v15/Browse.VC.db
/.vs/Algorithms/v15/.suo
/Debug/Project1.pdb
/Debug/Project1.ilk
/Project1/Debug/vc141.pdb
/Project1/Debug/vc141.idb
/Project1/Debug/Project1.tlog/Project1.lastbuildstate
/Project1/Debug/Project1.tlog/link.write.1.tlog
/Project1/Debug/Project1.tlog/link.read.1.tlog
/Project1/Debug/Project1.tlog/link.command.1.tlog
/Project1/Debug/Project1.tlog/CL.write.1.tlog
/Project1/Debug/Project1.tlog/CL.read.1.tlog
/Project1/Debug/Project1.tlog/CL.command.1.tlog
/Project1/Debug/Project1.log
/Project1/Debug/project_1.new.obj.enc
/Project1/Project_1.pdf
/Project2/Debug/Project2.tlog
/Project2/Debug/vc141.pdb
/Project2/Debug/vc141.idb
/Project2/Debug/Project2.log
/Debug/Project2.pdb
/Debug/Project2.ilk
/.vs/Algorithms/v15/ipch/AutoPCH/dc0576ef6b6f2f4b/PROJECT_2.ipch
